body { 
    font-family: Tahoma;
    background: #f0f4f8; 
    text-align: center; 
    padding: 50px; 
    direction: rtl;
}
.login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 { color: #1a2a3a; }

.btn {
    padding: 12px 25px;
    margin: 10px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.btn-blue { background: #00aaff; } /* ازرق */
.btn-red { background: #e63946; } /* احمر */
.btn-green { background: #28a745; } /* اخضر */
